.env
.venv/
.DS_Store
__pycache__/
*.pyc
fintxn.duckdb
fintxn.duckdb-shm
fintxn.duckdb-wal
data/raw/
rag/chroma_db/
airflow/logs/
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/simple_auth_manager_passwords.json.generated
transform/target/
transform/dbt_packages/
transform/logs/
airflow/airflow.cfg
